
.navbar{
    height: 4rem;
    background-color: rgb(228, 249, 128);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 2px 2px 2px 2px  rgb(2, 87, 39);
    margin: 0;
    position: fixed;
    left: 0;
    top: 0;

}
body{
    background: linear-gradient(45deg,rgb(247, 247, 105),rgb(247, 163, 79));
}
.logo{
    display: flex;
    align-items: center;
    color: rgb(50, 149, 17);
}
.logo img{
    width: 4rem;
}
.navOption{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    
}
.navOptions a{
    text-decoration: none;
    padding: 1rem;
    color: black;
    font-weight: 600;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(164, 19, 11);
}
.user button{
    border: 0;
    background-color: rgba(61, 224, 32, 0.912);
    color: white;
    width: 5rem;
    padding: .8rem;
    margin-left: 1rem;
    border-radius: 2rem;
    transition: all linear .5s;
}
.user button:hover{
    border:1px solid black;
    color: black;
}






