<section id="benefits">

    <div class="container">
        <h1>Benefits of Share and Sustain</h1>
        <br>
        <div class="benefit-item">
            <h3>Social Impact</h3>
            <p>Share and Sustain contributes to addressing hunger-related issues in the community. Read real-life stories of individuals positively impacted by your donations.</p>
        </div>
        <br>
        <div class="benefit-item">
            <h3>Reducing Food Waste</h3>
            <p>Minimize food wastage by connecting surplus food from events to those in need. Help make a positive impact on the environment by reducing greenhouse gas emissions.</p>
        </div>
        <br>
        <div class="benefit-item">
            <h3>Community Building</h3>
            <p>Foster a sense of community and collaboration between restaurants, event venues, NGOs, and individuals working together for a common cause.</p>
        </div>
        <br>
        <div class="benefit-item">
            <h3>Environmental Impact</h3>
            <p>Highlight the positive environmental impact of reducing food waste, such as a decrease in greenhouse gas emissions from decomposing food.</p>
        </div>
        <br>
        <div class="benefit-item">
            <h3>Corporate Social Responsibility (CSR)</h3>
            <p>If applicable, showcase how businesses can fulfill their CSR goals by participating in your initiative.</p>
        </div>
        <br>
        <div class="benefit-item">
            <h3>Transparency and Accountability</h3>
            <p>Assure users about the transparency and accountability of the process, detailing how donations are tracked, verified, and distributed.</p>
        </div>
        <br>
        <div class="benefit-item">
            <h3>Empowering NGOs</h3>
            <p>Emphasize how NGOs benefit from the platform by receiving timely donations and being better equipped to serve those in need.</p>
        </div>

    </div>
</section>