<div class="footer">
    <div class="contect">
        <h2>Made with &hearts; By Web Wizards</h2>
        <br><br>
        <h2>Contact us:</h2>
        <div class="icons">
            <a href="mailto:prince121kk@gmail.com" class="email icon" ><i class="fa-regular fa-envelope icon" ></i></a>
            <a href="https://linkedin.com/in/prince-kushwaha-5a78a2293" class="linkedin icon "><i class="fa-brands fa-linkedin icon"></i></a>
            <a href="https://github.com/Prince-kushwaha-2004" class="github icon"><i class="fa-brands fa-github icon" ></i></a>
            <a href="https://www.instagram.com/prince121kk" class="instagram icon"><i class="fa-brands fa-instagram icon" ></i></a>
        </div>
    </div>
    <div class="form">
        <form action="">
            <input type="text" id="firstname" placeholder="First Name"><input type="text" id="lastname" placeholder="Last Name"><br>
            <input type="text" id="email" placeholder="E-mail"><br>
            <textarea name="" id="" cols="30" rows="7" placeholder="Enter your Message"></textarea><br>
            <button>Send</button>
        </form>
    </div>
</div>