<div class="navbar">
    <div class="resnev" onclick=resNev()><i class="fa-solid fa-bars"></i></div>
    <div class="logo">
        <img src="assets/logo.png" alt="logo">
        <h2>Share and Sustain</h3>
    </div>
    <div class="navOption">
        <div class="navOptions">
            <a href="#" onclick=resNev()>HOME</a>
            <a href="#working" onclick=resNev()>HOW IT WORKS</a>
            <a href="#benefits" onclick=resNev()>BENEFITS</a>
            <a href="#partners" onclick=resNev()>PARTNERSHIP</a>
            <a href="#footer" onclick=resNev()>CONTACT</a>
        </div>
        <div class="user">
            <button class="login" onclick=showloginform()>Login</button>
            <button class="signin" onclick=showsigninform()>Sign in</button>
        </div>

    </div>

</div>