<div id="partners">
   
    <div class="container">
        <h1>OUR PARTNER NGOS</h1>
        <div class="NGOS">
            <div class="card">
                <img src="../NGO.jpg" alt="stud 1">
                <h3>NGO no. 01</h3>
                <h3>Delhi-NCR</h3>
                <h3>2023-Present</h3>
            </div>
            <div class="card">
                <img src="../NGO.jpg" alt="stud 1">
                <h3>NGO no. 02</h3>
                <h3>New-Delhi</h3>
                <h3>2022-present</h3>
            </div>
            <div class="card">
                <img src="../NGO.jpg" alt="stud 1">
                <h3>NGO no. 03</h3>
                <h3>Uttar Pradesh</h3>
                <h3>2022-2023</h3>
            </div>
                
        </div>
        
    </div>
</div>