<div class="navbar">
    <div class="resnev" onclick=resNev()><i class="fa-solid fa-bars"></i></div>
    <div class="logo">
        <img src="/logo.png" alt="logo">
        <h2>Share and Sustain</h3>
    </div>
    <div class="navOption">
        <div class="navOptions">
            <a href="#" onclick=resNev()>HOME</a>
            <a href="#working" onclick=resNev()>HOW IT WORKS</a>
            <a href="#benefits" onclick=resNev()>BENEFITS</a>
            <a href="#partners" onclick=resNev()>PARTNERSHIP</a>
            <a href="#footer" onclick=resNev()>CONTACT</a>
        </div>
        <div class="user">
            <h3><i class="fa-solid fa-user"></i> <%=data.username.toUpperCase()%>&nbsp;&nbsp;</h3>
            <form action="/">
                <button>Logout</button>
            </form>  
            <form action="/user/notification/<%=data.username%>" method="GET"><button class="donation-button"><i class="fa-solid fa-bell" ></i></button></form>
        </div>
    </div>
    
</div>