<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share and Sustain</title>
    <link rel="icon" href="assets/logo.png">
    <link rel="stylesheet" href="../style.css">
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <img src="assets/logo.png" alt="logo">
            <h2>Share and Sustain</h3>
        </div>
        <div class="navOption">
            <div class="navOptions">
                <a href="#">HOME</a>
                <a href="#">HOW IT WORKS</a>
                <a href="#">BENEFITS</a>
                <a href="#">PARTNERSHIP</a>
                <a href="#">CONTACT</a>
            </div>
            <div class="user">
                <button class="login" onclick=showloginform()>Login</button>
                <button class="signin" onclick=showsigninform()>Sign in</button>
            </div>

        </div>

    </div>
    <br><br><br><br>

    <div class="content">
        <h1>Welcome to SHARE AND SUSTAIN!!</h1>
        <div id="welcome">

            <p>
                Turning Surplus into Sustenance
                In a world where some feast in excess, others go to bed hungry every night. At SHARE AND SUSTAIN, we
                believe in a simple yet powerful mission: to bridge the gap between those who have excess and those who
                can't afford even a single meal.
            </p>
            <img src="assets/logo.png" id="logo" alt="logo">

        </div>


        <h2>The Harsh Reality</h2>
        <p>
            Feasting in Abundance, Ignoring the Hunger Crisis
            In the heart of our vibrant nation, India, where festivals are celebrated with grandeur and weddings are
            extravagant affairs, there lies a stark contrast. While some indulge in lavish banquets, countless others
            struggle to put food on their plates. It's disheartening to witness the sheer amount of food that goes to
            waste at events and restaurants, especially when millions are left hungry and malnourished.
        </p>

        <h2>One Man's Feast, Another's Famine</h2>
        <p>
            Food wastage is a critical issue that not only depletes our precious resources but also widens the gap
            between the privileged and the underprivileged. We've all seen it – the untouched, uneaten meals left to
            perish while a few kilometers away, families are grappling with hunger.
        </p>

        <h2>Our Vision: A Simple Solution with Profound Impact</h2>
        <p>
            At SHARE AND SUSTAIN, we envision a world where no one sleeps on an empty stomach, where surplus food
            becomes a lifeline for those in need. Our mission is clear – to create a platform that connects restaurants,
            marriage halls, and event venues with NGOs, ensuring that excess food is rescued and redirected to those who
            need it the most.
        </p>

        <h2>How We Make a Difference</h2>
        <h3>Restaurants and Venues: Partners in Change</h3>
        <p>
            Join hands with us as we encourage restaurants, marriage halls, and event venues to become partners in
            change. By simply notifying us about the surplus food after an event, these establishments become beacons of
            hope for the less fortunate.
        </p>
        <h3>NGOs: The Backbone of Our Mission</h3>
        <p>
            Our network of NGOs plays a pivotal role in ensuring that rescued food reaches those in need promptly and
            safely. These organizations are the unsung heroes, making a real difference in the lives of the hungry and
            the marginalized.
        </p>

        <h2>Get Involved, Make an Impact</h2>
        <p>
            You have the power to make a difference. Join us in our mission to turn surplus into sustenance. Whether you
            are a restaurant owner, a concerned citizen, or a potential volunteer, your contribution matters.
        </p>
        <h2>Together, We Can End Hunger</h2>
        <p>
            Let's rewrite the narrative. Let's transform wastefulness into generosity. At SHARE AND SUSTAIN, we believe
            that every meal shared is a step towards a hunger-free India.
        </p>


        <div class="signupform">
            <form action="http://localhost:8080/newuser" method="POST">
                <h2>CREATE ACCOUNT</h2>
                <img src="assets/logo.png" alt="img">
                <input type="text" placeholder="Username" name="username" id="username"><br>
                <input type="text" placeholder="Email" name="email" id="email"><br>
                <input type="text" placeholder="Address" name="address" id="address"><br>
                <input type="password" placeholder="Create Password" name="pass1" id="pass1"><br>
                <input type="password" placeholder="Confirm password" name="pass2" id="pass2"><br>
                <button>Sign In</button>
            </form>
        </div>
        <div class="loginform">
            <form action="http://localhost:8080/user" method="POST">
                <h2>LOGIN</h2>
                <img src="assets/logo.png" alt="img">
                <input type="text" placeholder="Email" name="email" id="email"><br>
                <input type="password" placeholder="Password" name="password" id="password"><br>
                <button>Login</button>
            </form>
        </div>
        <div class="close">

        </div>




    </div>
    <script>
        showsigninform = () => {
            signupform = document.querySelector(".signupform");
            signupform.classList.add("signupformshow")
            close = document.querySelector(".close")
            close.style.display = "block"


        }
        showloginform = () => {
            loginform = document.querySelector(".loginform");
            loginform.classList.add("signupformshow")
            close = document.querySelector(".close")
            close.style.display = "block"


        }
        hideform = () => {
            signupform = document.querySelector(".signupform");
            signupform.classList.remove("signupformshow")
            loginform = document.querySelector(".loginform");
            loginform.classList.remove("signupformshow")
            close = document.querySelector(".close")
            close.style.display = "none"

        }
        close = document.querySelector(".close")
        close.addEventListener("click", hideform)

    </script>
</body>

</html>