<% layout("layouts/boilerplate.ejs") %>      
<%- include("includes/usernevbar.ejs")%>
<body style="background-image: url(https://static.vecteezy.com/system/resources/previews/002/055/440/large_2x/italian-food-border-free-photo.jpg);background-size: cover;">
<div class="donation-form">
    <h1>JOIN HANDS, TRANSFORM LIVES</h1>
    <p>Your generosity can spark change. By donating to Share and Sustain, you are contributing to a world where no one goes to bed hungry. Let's make a lasting impact together!</p>

    <form id="donationForm" method="Post" action="/user/donation">
        <label for="name">Your Name:</label><br>
        <input type="text" id="name" name="name" value="<%=data.username%>"><br>

        <label for="name">Your email:</label><br>
        <input type="text" id="email" name="email" value="<%=data.email%>"><br>

        <label for="mobile">Mobile Number:</label><br>
        <input type="tel" id="mobile" name="mobile" pattern="[0-9]{10}" required><br>

        <label for="address">Address:</label><br>
        <textarea id="address" name="address" required></textarea><br>

        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>

        <label for="time">Time:</label>
        <input type="time" id="time" name="time" required><br>


        <label for="comment">Donation item information:</label><br>
        <textarea id="comment" name="comment"></textarea><br>

        <button type="submit">Submit Donation</button>
    </form>
</div>
</body>