<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url(https://th.bing.com/th/id/OIP.gwSob10yqT3aQTN7zrC3BQHaE7?rs=1&pid=ImgDetMain);
            background-size: cover;
            height: 100vh;
            margin: 0;
        }
        .message {
            text-align: center;
            border: 1px solid rgb(238, 238, 238);
            background-color: rgba(255, 255, 255, 0.459);
            backdrop-filter: blur(5px);
            padding: 2rem;
            border-radius: 2rem;
            color: black;
        }
        .heading {
            font-weight: bold;
            font-size: 5rem;
        }
        @media (max-width: 525px){
            .heading{
                font-size: 2.5rem;
            }
        }
    </style>
</head>
<body>
    <div class="message">
        <h1 class="heading">Thank You</h1>
        <h1 class="heading">For your valuable contribution</h1>
    </div>
</body>
</html>
