*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
p{

    font-family: 'Montserrat', sans-serif;
}
.navbar{
    height: 4rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: .5px .5px 10px .5px  #cec9bb;
    margin: 0;
    position: sticky;
    left: 0;
    top: 0;

}
body{
    background-color: white;
}
.logo{
    display: flex;
    align-items: center;
    color: #BD1E51;
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 2px;
    
}
.logo img{
    width: 4rem;
}
.navOption{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    
}
.navOptions a{
    text-decoration: none;
    padding: 1rem;
    color: #696969;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: all linear .4s;
}
.navOption a:hover{
    text-decoration: underline;
    color: #490B3D;
}
.user button{
    border: 0;
    background-color: #BD1E51;
    color: white;
    width: 5rem;
    padding: .8rem;
    border-radius: 2rem;
    transition: all linear .5s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: .3rem;
}
.user button:hover{
    background-color:#490B3D;
    color: white;
}
.resnev{
    display: none;
}
.resnev i{
    margin: 1rem;
    font-size: 2rem;
    transition: all linear .2s;
    color: #490B3D;
}
.resnev i:hover{
    transform: scale(1.2);
    color: #BD1E51;
}
#logo{
    width: 20rem;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    margin-left: 1rem;
}
#welcome{
    display: flex;
    font-size:1.5rem;
    justify-content: center;
    align-items: center;
    
}
.content h1{
    position: absolute;
    margin-top: 2.5rem;
    color: #490B3D;
    z-index: -1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.content h1 span{
    color: #F1B814;
}
#hello{
    position: relative;
    margin-top: 2.5rem;
    color: #BD1E51;
    z-index: -1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border: 2px solid #490B3D;
    width: auto;
    border-radius: 2rem;
    text-align: center;
}
/* para */
.para2{
    display: flex;
    flex-direction: row;
}
.para2 img{
    width: 35rem;
    margin: 2rem;
    border-radius: 5rem;
    box-shadow: 5px 5px 5px 5px  #68655b;
}
.para2 h2{
    color: #BD1E51;
    font-size: 3rem;
    margin: 2rem;
}
.para2 p{
    margin: 0rem 2rem;
    font-size: 1.2rem;
}
/* container */
.container{
    margin: 1rem;
    background-color: #ecdc4b6b;
    border: 1px solid #F1B814;
    padding: 1rem 2rem;
    border-radius: 2rem;
    text-align: center;
}
.container h2{
    color: #BD1E51;
    font-size: 3rem;
}
.container h3{
    color: #490B3D;
    font-size: 1.7rem;
}
.container p{
    color: rgb(51, 41, 41);
    font-size: 1.2rem;
    padding: 1rem;
}
.container .flex{
    display: flex;
    flex-direction: row;
}
/* login-signup */
.signupform,.loginform{
    backdrop-filter: blur(5px);
    background-color: #e5df633f;
    position: fixed;
    top: -50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid black;
    width: 25rem;
    height: 37rem;
    border-radius: 1rem;
    text-align: center;
    color: #490B3D;
    box-shadow: rgba(0, 0, 0, 0.638) 0px 10px 20px, rgba(0, 0, 0, 0.644) 0px 6px 6px;
    transition: all linear .8s;
    z-index: 5;
    
}
form img{
    display: block;
    width: 5rem;
    position: relative;
    left: 10rem;
    
}

.signupform input,.loginform input{
    width: 70%;
    border: 0;
    height: 2rem;
    margin: .5rem;
    padding: .5rem;
    border-radius: .5rem;
    text-align: center;
}
.signupform h2,.loginform h2{
    margin: 1rem;
}
.signupform button,.loginform button{
    border: 0;
    padding: .5rem;
    width: 75%;
    border-radius: 2rem;
    margin: 2rem;
    padding: .8rem;
    background-color: #BD1E51;
    color: white;
    transition: all  .5s;
}
.signupform button:hover,.loginform button:hover{
    color: white;
    border: 1px solid white;
}
.signupformshow{
    top: 51%;
}
.close{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(154, 244, 222, 0.273);
    width: 100vw;
    height: 100vh;
    z-index: 2;
    display: none;
}
.footer{
    background-color: #490B3D;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.footer .form{
    width: 50%;
    margin: 2rem;
    padding: 2rem;
    background-color: #501144;
    border-radius: 2rem;
}
.footer form input{
    border: 0;
    border-radius: 10px;
    margin: 5px;
    height: 1rem;
    width: 43%;
    padding: 1rem;
    background-color: #490B3D;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
}
.footer form #email{
    width: 92%;
}
.footer form textarea{
    border: 0;
    padding: 1rem;
    width: 92%;
    margin: .5rem;
    border-radius: 10px;
    background-color: #490B3D;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
}
.footer form button{
    border: 0;
    background-color: #BD1E51;
    color: white;
    width: 5rem;
    margin-left: 1rem;
    padding: .8rem;
    border-radius: 2rem;
    transition: all linear .5s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    
}
.footer form button:hover{
    background-color:#490B3D;
    color: white;
}
.footer .contect{
    width: 50%;
    margin: 2rem;
    padding: 2rem;
    background-color: #501144;
    border-radius: 2rem;

}
.footer .contect h2{
    color: #68655b;
    background-color: #490B3D;
    padding: 1rem;
    border-radius: 10px;
}
.footer .contect .icons{
    color: #68655b;
    background-color: #490B3D;
    margin-top: 1rem;
    padding: 1rem;
    border-radius: 10px;

}
.footer .contect .icons i{
    padding: 1rem;
    font-size: 2rem;
    transition: all .35s;
    color: #68655b;
}
.footer .contect .icons i:hover{
    transform: scale(1.2);   /* doubt here */
    color: yellow;
}
.coppyright{
    width: 100%;
    margin: 0;
    padding:1rem 0rem;
    text-align: center;
    background-color:#490B3D;
    color: white;
    font-size: 1.1rem;
}


@media (max-width: 1220px) {
    .resnev{
        display: block;
    }
    .navOptions{
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 4rem;
        left: -30rem;
        width: 25rem;
        height: 100%;
        backdrop-filter: blur(5px);
        background-color: #93e5633f;
        box-shadow: 3px 3px 3px black;
        padding: 2rem;
        transition: all linear .5s;
    }
}
@media (max-width: 1035px){
    #welcome{
        flex-direction: column;
    }
    .content h1{
        position: sticky;
    }
    .para2{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .para1{
        flex-direction: column-reverse;
    }
    .footer{
        flex-direction: column;
    }
    .container .flex{
        display: flex;
        flex-direction: column;
    }
    .footer .contect,.footer .form{
        width: 90%;
        margin-left: 0;
    }
}
@media (max-width: 610px){
    .logo h2{
        display: none;
    }
    .para2 img{
        width: 20rem;
        border-radius: .5rem;
    }
    .footer .contect,.footer .form{
        width: 83%;
        margin-left: 0;
    }
}
.resNev{
    left: 0;
}

.donation-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid rgb(8, 218, 8);
    background-color: rgba(46, 224, 46, 0.355);
    margin: 2rem;
    padding: 1rem;
    border-radius: 1rem;
}
.donation-message h1,
.donation-form h1,
.working h1{
    color: #BD1E51;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.donation-message p{
    margin: 0rem 2rem;
    font-size:1.4rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 1rem;

}
.donation-form p{
    margin: 0rem 2rem;
    font-size:1.2rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 1rem;
    font-weight: 600;
}
.donation-message button,.donation-form button{
    border: 0;
    background-color: #BD1E51;
    color: white;
    margin-left: 1rem;
    padding: .8rem;
    border-radius: 2rem;
    transition: all linear .5s;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.donation-message button:hover,.donation-form button:hover{
    background-color:#490B3D;
    color: white;
}
.donation-form {
    text-align: center;
    max-width: 600px;
    height: auto;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    background-color: #f8f8f859;
    backdrop-filter: blur(10px);
    border: 1px solid #f7f7f7;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
.donation-form label {
    display:inline block;
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: black;
    font-weight: 600;
}

.donation-form input,
.donation-form textarea {
    width: 80%;
    padding: 8px;
    margin-bottom: 16px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.donation-form input[type="date"],
.donation-form input[type="time"] {
    width: 30%;
    margin-right: 4%;
}
.user form .donation-button{
    border:1px solid rgb(8, 218, 8);
    background-color: rgba(46, 224, 46, 0.684); 
    width: auto;
}
.user form .donation-button:hover{
    background-color: #490B3D;
}
.notifications{
    border:1px solid rgb(8, 218, 8);
    background-color: rgba(46, 224, 46, 0.355);
    border-radius: 2rem;
    margin: 2rem;
    width: auto;
    padding: 2rem;
    font-family: 'Montserrat', sans-serif;
}
.notifications .message{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notifications .message button{
    padding: .8rem;
    background-color: rgb(8, 183, 8);
    font-size: 1.1rem;
    border: 0;
    color: white;
    border-radius: 2rem;
}
.notifications .message button:hover{
    background-color: rgb(8, 183, 151);
}
.notifications .message h2{
    color: rgb(19, 69, 208);
}
.notifications .message h3{
    color: #7d0b68;
}
@media (max-width: 610px){
    .notifications .message{
        flex-direction: column;
    }
    .notifications{
        margin: .5rem;
    }
}
@media (max-width: 580px){
    .user h3{
        display: none;
    }

}
.working{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    border-radius: 2rem;
    margin: 1rem;
    border:1px solid rgb(8, 218, 8);
    background-color: rgba(46, 224, 46, 0.355);
    padding: 2rem;
}
.working img{
    width: 70%;
}
.NGOS{
    text-align: center;
   
    color: white;
    margin:1rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card{
    background: linear-gradient(180deg, rgba(65, 230, 65, 0.789) 0%, rgba(28, 236, 121, 0.625) 35%, rgba(28, 191, 246, 0.575) 100%);
    height: 28rem;
    width: 18rem;
    border-radius:1rem ;
    margin: 1rem 5rem;
    transition: all .2s;

}
.card:hover{
    transform: scale(1.02);
}
.card img{
    height: 15rem;
    width: 13rem;
    margin: 1rem;
    border-radius:1rem ;
}
.card h3{
    font-size: 1rem;
    line-height: normal;
    font-size: 1.1rem;
    padding: .5rem;
}
h1{
    color: #BD1E51;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2rem;
}
#partners .container{
    border:1px solid rgb(8, 218, 8);
    background-color: rgba(46, 224, 46, 0.355);
}
@media (max-width: 610px){
    .working img{
        width: 100%;
    }
}